.container-one{
  background-image: url('./img/fdob3.png');
    background-size: cover;
    background-repeat: no-repeat;
  padding-left: 80px;
  height: 600px;
 
}

.title-one{
  margin-top:120px;
  font-size:90px;
  font-family: 'Saira Condensed',sans-serif;
  color:#fff;
}
.text-one{
  color:#fff;
}
.btn{
  width: 200px;
}
