.container-home {
  background-image: url('./img/fdob3.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 80px;
  height: 600px;
  display:flex;
  justify-content: flex-start;
}
.title-one{
  margin-top:120px;
  font-size:90px;
  font-family: 'Saira Condensed',sans-serif;
  color:#fff;
}
.text-one{
  font-size: 18px;
  color:#fff;
}
.btn{
  width: 200px;
}
.container-about{
  background-image: url('./img/f2b.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.title-two{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 90px;
  font-family: 'Saira Condensed', sans-serif;
  color: #fff;
}
.content-profile {
  display: flex;
  justify-content: center;

}
.profile{
  padding: 0 40px;
  box-shadow: 5px 10px 5px 10px #000;
  border-radius: 20px;
}
.icons{
  color:#fff;
  display: flex;
  justify-content: center;
  
}
.fa-brands{
margin: 15px;
font-size: 25px;
cursor: pointer;
}
 .content-aboutMe{
   display: flex;
   justify-content: center;
 }
 .text-two,.list{
   padding-top: 25px;
    font-size: 18px;
   color:#fff;
 }
 .container-mint{
background-image: url('./img/fondo4-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
 }
 .card-one{
   display: flex;
   justify-content: center;
 }
 .nft{
    box-shadow: 5px 10px 5px 10px #fff;
    margin-bottom: 30px;
 }
.about-nft{
  display: flex;
  justify-content:center;
  color: #fff;
}
.list-mint{
 text-align: center;
 list-style: none;
 color:#fff
}
.content-buy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  border: 1px solid #fff;
  align-items: center;
  border-radius: 20px;
  width: 434px;
 
}
.title-four{
  background: #000;
  text-align: center;
  align-items: center;
  height: 60px;
  color: #fff;
  margin-top: 20px;
}
.title-five,.price{
  text-align: center;
  color: #fff;
}
.form-select{
  margin-bottom: 80px;
}
.container-contact{
  background-image: url('./img/f3pb.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.contact{
    display: flex;
    justify-content: center;  
}
.contact-form{
  border: 1px solid #fff;
    align-items: center;
    border-radius: 20px;
    width: 434px;
}
.list-two{
  color: #fff;
}
.partner-title{
  text-align: center;
  color: #fff;
}
.partner{
  width: 280px;
  margin: 20px;
}
@media (max-width:575px) {
  .container-home{
    height: 800px;
  }
  .content-profile{
    display: flex;
    justify-content: center;  
  }
    .container-about {
      height:1070px;
     }
    .profile {
      padding: 0 10px;
    }
    .text-two{
      width: 320px;
    }
      
    .nft{
      width: 334px;
    }
    .container-mint{
      height: 920px;
    }
   .content{
     width:334px;
   }
   .container-contact {
     height: 1100px;
   }
    .contact-form{
      width: 334px;
    }
   .partner{
  width: 330px;
   }
  }
        
@media(max-width:999px) {
.container-about {
    height: 1070px;
  }
    .container-mint {
      height: 950px;
    }
    .container-contact {
      height: 1100px;
   }
}